.root {
    -fx-background-image: url("../background.jpg");
    -fx-focus-color: #b5b3bc;

}

.toggle-button:selected{
 -fx-border-color: #B1B1B1;
 -fx-background-color: red;
}


.table-view .table-cell  {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-border-color: #B1B1B1;

}
.table-row-cell{
     -fx-background-insets: 0, 0 0 1 0;
    -fx-border-insets: 5px;
     -fx-margin: 0;
}

.table-row-cell:odd{
-fx-background-color: beige;
}


.button {
    -fx-background-color: linear-gradient(#f7f7f7, #bcbcbc);

}

.button:pressed  {
    -fx-background-color: linear-gradient(#bcbcbc, #f7f7f7);
}
