.root {
    -fx-background-image: url("../background.jpg");
    -fx-focus-color: #b5b3bc;

}

.toggle-button:selected{
 -fx-border-color: #B1B1B1;

}

.table-view {
     -fx-border-color: #B1B1B1;
}

.table-cell  {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10 10 10 10;
}

.button {
    -fx-background-color: linear-gradient(#f7f7f7, #bcbcbc);

}

.button:pressed  {
    -fx-background-color: linear-gradient(#bcbcbc, #f7f7f7);
}
